*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}
.container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10%;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 5vw;
    margin-top: 5vw;
}
#img{
    padding-top: 16%;
    position: relative;
}
#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }